body{
  padding: 0 20px;
  background-color: #9fe0f6;
  font-family: sans-serif;
}

#container{
  display: flex;
  justify-content: center;
}

.app{
  background-color:#0092c7;
  padding:  15px 0;
  min-height: 500px;
  width: 360px;
  margin:  auto;
  border-radius: 10px;
}